.topheader{
    background-color: #EB7AAE;
    color: white;
}
.toppic{
    background-color: #FFFFFF;
    width: 260px;
    transform: translate(-30px,-26px);
    position: absolute;
}

li::after {
    list-style-type: none!important;
    content: "";
    position:absolute;
    top: 1px;
    bottom: 1px;
    right: 5px;
    width: 2px;
    background-color:white;
  }
a{
    text-decoration: none!important;
    color: white !important;
}
.btn{
    color:red;

}
.btn:hover{
    background-color: red;
    color: white;
}

/* body */
.card-bd{
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}
.card, .card-header{
    border: none!important;
}
.card-header{
    background-color: #EB7AAE!important;
    color: #FFFFFF;
}
.list-group-item{
    background-color: #FEF4F9!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;

    
}

/* Footer */

footer{
    padding-top: 30px; 
    background: url(https://yayoirestaurants.com/frontend/assets/images/bg_footer_top.jpg?a8060dd);
}

#footerMenu{
    margin: 15px 0px;
    border-top: 1px solid #cecfd2;
    border-bottom: 1px solid #cecfd2;
}

.FMenu{
    display: inline-block;
    padding: 10px;
}

.FMenu a{
    color: black!important;
}

#contact b{
    font-size: 20px;
}

#contact div{
    display: inline-block;
    margin: 0px 12px;
}

#creditD{
    background-color: #EB7AAE;
    padding: 15px;
    color: white;
    text-align: center;
}
