.topheader{
    background-color: #EB7AAE;
    color: white;
}

li::after {
    list-style-type: none!important;
    content: "";
    position:absolute;
    top: 1px;
    bottom: 1px;
    right: 5px;
    width: 2px;
    background-color:white;
  }
a{
    text-decoration: none!important;
    color: white !important;
}
.btn{
    color:red;

}
.btn:hover{
    background-color: red;
    color: white;
}


/* Footer */

footer{
    padding-top: 30px; 
    background: url(https://yayoirestaurants.com/frontend/assets/images/bg_footer_top.jpg?a8060dd);
}

#footerMenu{
    margin: 15px 0px;
    border-top: 1px solid #cecfd2;
    border-bottom: 1px solid #cecfd2;
}

.FMenu{
    display: inline-block;
    padding: 10px;
}

.FMenu a{
    color: black!important;
}

#contact b{
    font-size: 20px;
}

#contact div{
    display: inline-block;
    margin: 0px 12px;
}

#creditD{
    background-color: #EB7AAE;
    padding: 15px;
    color: white;
    text-align: center;
}
