.topheader{
    background-color: #EB7AAE;
    color: white;
}
.toppic{
    background-color: #FFFFFF;
    width: 260px;
    transform: translate(-30px,-26px);
    position: absolute;
}
.bd-right{
    border-right-style:  solid;
}
.icon-delivery:before{content:"\e906"}

.headMenu{
    color: white !important;
}
.orderFoodBt{
    color:red!important;

}
.orderFoodBt:hover{
    background-color: red!important;
    color: white!important;
}
.carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}
.logoYayoi{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.dropbtn {
    background-color: #EB7AAE;
    color: white;
    border: none;
    width: 50px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* body */
.card-bd{
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.card, .card-header{
    border: none!important;
}
.card-header{
    background-color: #EB7AAE!important;
    color: #FFFFFF;
}
.list-group-item{
    background-color: #FEF4F9!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;

    
}

/* Footer */

footer{
    padding-top: 30px; 
    background: url(https://yayoirestaurants.com/frontend/assets/images/bg_footer_top.jpg?a8060dd);
}

#footerMenu{
    margin: 15px 0px;
    border-top: 1px solid #cecfd2;
    border-bottom: 1px solid #cecfd2;
}

.FMenu{
    display: inline-block;
    padding: 10px;
}

.FMenu a{
    color: black!important;
}

#contact b{
    font-size: 20px;
}

#contact div{
    display: inline-block;
    margin: 0px 12px;
}

#creditD{
    background-color: #EB7AAE;
    padding: 15px;
    color: white;
    text-align: center;
}
